.paymentForm {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.container {
  display: flex;
  margin: 100px 0px;
}

.container button {
  width: 190px;
}

@media (max-width: 768px) {
  .container {
    display: flex;
  }
}
