.resetPasswordForm {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 10px;
}
.form {
  width: 100%;
  max-width: 400px;
}

.submitButtonContainer {
  display: flex;
  justify-content: center;
}
.submitButtonContainer button {
  width: 250px;
}
