.resetPasswordContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resetPasswordContainer form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resetPasswordContainer input[type="email"] {
  width: 300px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.resetPasswordContainer button {
  width: 220px;
}
